**/*.*

!.gitignore

!**/*.cpp
!**/*.lua
!**/*.h
!**/*.hpp
!**/*.hxx

!doc/**/*.*
!doxyfile
!page_main
!page_concepts
!page_faq
!page_other
!page_changelog

!**/license.txt

!lpp_logo.svg
!lpp_logo.png
